/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

# use glob syntax.
syntax: glob
creds.clj
Manifest.txt
aws.clj
*.ser
*~
*.bak
*.off
*.old
.DS_Store
*.#*
*#*
*.classpath
*.project
*.settings
*.pyc
.vscode